 *{
    margin: 0;
    padding: 0;
    font-family: system-ui;
    scroll-behavior: smooth;
}

header{
    /* background-color: #c7c7c7; */
    background: white;
    box-shadow: 0px 0px 5px -1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0.6rem;
    position: sticky;
    top: 0;
    left: 0;
}

header h2 a{
    text-decoration: none;
    font-size: 3rem;
    color: #0037ffba;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

header ul li a{
    color: #0037ffba;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.5rem;
    transition: 1s;
}

header ul li a:hover{
    color: white;
    background: #0037ffba;
    border-radius: 62px;
    padding: 5px 25px;
    transition: 1s;
}

#main{
    height: 89.6vh;
    /* background-color: linear-gradient(200deg, #686868, #9f9f9f,white); */
    background: linear-gradient(200deg, #ff8100, #ffffff,#1bff00);
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: 2rem; */
}

#main h2 a{
    color: white;
    text-decoration: none;
}

.card{
    border: 2px solid #5fff4c;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 8fr;
    margin: 2rem;
    overflow: hidden;
    height: 16rem;
    border-radius: 1rem;
    box-shadow: 2px 3px 4px 0px #0000006b;
}

/* #image1{
    background: url("Bhagat_Singh_1929_140x190.jpg");
    background-repeat: no-repeat;
    background-size: 8rem;
}

#image2{
    background: url("Subhas_Chandra_Bose.jpg");
    background-repeat: no-repeat;
    background-size:8rem;
}

#image3{
    background: url("Mahatma-Gandhi\,_studio\,_1931.jpg");
    background-repeat: no-repeat;
    background-size:8rem;
} */

.write::selection{
    color: white;
    background-color: black;
}

.cards{
    /* border: 2px solid black; */
    text-align: center;
    border-radius: 1rem;
}

#persons{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; */
    display: flex;
    flex-direction: row;
    grid-gap: 1rem;
    margin: 3rem;
    overflow: scroll;
}

a{
    text-decoration: none;
}

.cards h2{
    color: black;
    text-decoration: none;
}

.img1{
    height: 12rem;
    width: 14rem;
}

#items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.re_images{
    border-radius: 1rem;
}

#de1{
    padding-left: 1rem;
    color: #0037ffba;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.5rem;
    transition: 1s;
}

#main_h2{
    font-size: 3rem;
}

#main_h2_second{
    font-size: 2rem;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: #ffffff36;
    border-top: 2px solid #5fff4c;
    color: #ff8c16;
}

@media only screen and (max-width: 449px){
    header h2 a{
        font-size: 1.5rem;
    }

    #de1{
        font-size: 1rem;
    }

    header ul{
        height: 0;
        width: 0;
    }

    header ul li a{
        font-size: 0rem;
    }
    #main_h2{
        font-size: 1.2rem;
    }

    #main_h2_second{
        font-size: 1rem;
    }

    .card{
        overflow: scroll;
        display: flex;
        flex-direction: column;
    }

    .img1{
        height: 4rem;
        width: 5rem;
    }
}